
		<div class="clear">&nbsp;</div>
		<section id="Legacy" class="container pane-darker">
			<a href="index.html" title="API.LEIPZIG"><h1 id="SmallLogo">API.LEIPZIG</h1></a>
			<p>ist ein Projekt der <a href="/wiki/show/Beteiligte" title="Personen und Organisationen, die LEIPZIG.API erstellt haben" rel="external">Selbständigen der Leipziger Kultur- und Kreativwirtschaft</a>, das in Zusammenarbeit mit der <a href="http://www.leipzig.de" title="Stadt Leipzig" rel="external">Stadt Leipzig</a> entstanden ist.</p>
		</section><!-- /#Legacy  -->
		
		<div class="page-hr"><hr /></div>
		
		<footer class="container">
		 <nav id="FooterWikiNav" >
		 <div class="span-7">
		 <h1>Besuchen Sie das Wiki</h1>
		 	<div class="span-2">
		 	<ul class="FooterWikiList">
				<li><a href="/wiki/show/Was-ist-die-API-LEIPZIG" title="API.LEIPZIG">Was ist API.LEIPZIG?</a></li>
				<li><a href="/wiki/show/Beteiligte" title="Beteiligte">Beteiligte</a></li>
				<li><a href="/wiki/show/FAQ" title="FAQ">FAQ</a></li>
			</ul>
			</div><!-- /.FooterWikiList 1  -->
			<div class="span-2">
			<ul class="FooterWikiList">
				<li><a href="/wiki/show/Datenquellen" title="Datenquellen">Datenquellen</a></li>
				<li><a href="/wiki/show/Anwendungen" title="Anwendungen">Anwendungen</a></li>
				<li><a href="/wiki/show/Dokumentation" title="Dokumentation">Dokumentation</a></li>
			</ul>
			</div><!-- /.FooterWikiList 2  -->
	 		<div class="span-2">
	 		<ul class="FooterWikiList">
				<li><a href="/wiki/show/Nutzungsbedingungen" title="Nutzungsbedingungen">Nutzungsbedingungen</a></li>
				<li><a href="/wiki/show/Impressum" title="Link zum Impressum"> Impressum</a></li>
				<li><a href="/wiki/show/Kontakt" title="Link zur Kontaktseite"> Kontakt</a></li>
			</ul>
			</div><!-- /.FooterWikiList 3  -->
		</div>

		<div id="FooterSponsorLogos" class="span-5 last" style="width:530px;" id="SponsorLogos">
			<h1>Gefördert im Rahmen des EU Projektes Creative Cities</h1>
			<a href="http://www.creativecitiesproject.eu/en/index.shtml"><img height="55px" src="http://178.77.99.225/images/creativecities.gif"></a>
			<a href="http://www.central2013.eu/index.php"><img height="55px" src="http://178.77.99.225/images/centraleurope.jpg"></a>
		</div>
		</nav>
		</footer><!-- /footer -->
	</section><!--!/#Homepage -->
	<script>var uservoiceOptions = {   /* required */   key: 'apileipzig',   host: 'apileipzig.uservoice.com',    forum: '106597',   showTab: true,     /* optional */   alignment: 'left',   background_color:'#FFAA22',    text_color: 'white',   hover_color: '#1275A7',   lang: 'de' };  function _loadUserVoice() {   var s = document.createElement('script');   s.setAttribute('type', 'text/javascript');   s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");   document.getElementsByTagName('head')[0].appendChild(s); } _loadSuper = window.onload; window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };</script>
</body>
</html>
