<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--><!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--><!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--><!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!--><html lang="de" class="no-js">
<!--<![endif]--><head>
<meta charset="utf-8">
<title>API.LEIPZIG - Startseite</title>
<meta name="description" content="API.LEIPZIG ist die Schnittstelle der Leipziger Kultur- und Kreativwirtschaft">
<meta name="keywords" content="">
<meta name="author" content="Thomas Apfelbacher">
<link rel="shortcut icon" href="/favicon.ico">
<!-- !CSS --><link rel="stylesheet" href="/css/api-style.css?v=1">
<link rel="stylesheet" href="/css/ui-lightness.css">
<!-- !Google Font Library --><link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold" rel="stylesheet" type="text/css">
<!-- Uncomment if you are specifically targeting less enabled mobile browsers  --><!-- link rel="stylesheet" media="handheld" href="css/handheld.css?v=1" --><script src="/js/wiki.js"></script><script src="/js/modernizr-1.6.min.js"></script>
</head>
<!-- !Body --><body class="wiki">
<section id="Homepage"><header id="PageHeader"><nav class="container"><h1 id="Logo"><a href="/" title="API.LEIPZIG">API.LEIPZIG</a></h1>
<section id="user" class="span-4"> </section><ul id="GlobalNav" class="span-6 append-1">
<!-- <li><a href="index.html" title="Startseite">Start</a></li> --><li><a href="/wiki/show/Was-ist-die-API-LEIPZIG" title="Hintergründe">Hintergründe</a></li>
<li><a href="/wiki/show/Dokumentation" title="Dokumentation">Dokumentation</a></li>
<li><a href="/wiki/show/Nutzungsbedingungen" title="Nutzungsbedingungen">Nutzungsbedingungen</a></li>
</ul>
<!-- /#GlobalNav  -->
<ul id="GlobalTabs" class="prepend-4 span-5">
<li><a href="/wiki/show/Datenquellen" title="Datenquellen">Datenquellen</a></li>
<li><a href="/wiki/show/Anwendungen" title="Anwendungen">Anwendungen</a></li>
<li><a href="/wiki/show/HomePage" title="Wiki">Wiki</a></li>
</ul>
<!-- /#GlobalTabs  --><section id="SignUp"><a href="/panel/" title="Als Entwickler registrieren">Mitgliederbereich</a>
</section></nav><!-- /.container  --></header><!-- /header --></section>
